# Remove this line first before doing anything
___________PLOX_______REMOVE_____THIS_____LINE__________=True

# REQUIRED %% Get these from https://my.telegram.org
API_KEY = "5005545"
API_HASH = "5fe657684815c105da1ef982c6672d01"

# REQUIRED %% Database URL
# Your PostgreSQL Database URL
DATABASE_URL = "postgres://ayselzsbyfhwrs:38a50cbbaa903a6de1e3078047b36c263ca6c21bc63728a4fb3d3d65951e258f@ec2-3-232-148-66.compute-1.amazonaws.com:5432/df8ih9d5nsargt"

# REQUIRED %% Get this value by running python3 string_session.py locally
# or https://repl.it/@BianSepang/Session?lite=1& outputonly=1
STRING_SESSION = "1BVtsOGkBu0APgOFxh7bqfJAKew3KvMAFxF_g872IPjpBUNv4KaXTF4CWWFgFKSYQn2JVjIWPzAzkw165ERBJNfvaFmlthG2lAWrDH3DyXJ3x7n4uHEuDzOzXzB9uL51Hi1yphxGSeHuKaUMpo-ibZeA801hz59tFoXDZ2PYlHWxO-JWO5m2BoBvfW12UDROJJkEdWBTPjKfGNFOnJVpb35uGdoG1H-OZ10rxqDYVJJPM7MPjw6SOIsWgHgfcM01zNwbAugL335j8a5Avzqy2mUMatsSaZb3rVQdGs02GR99MNknnS63DVw4WkontY1gS-pvURU46loEFY2n4nXqwMDSRxNIAniY="

# REQUIRED %% ChatID for the Log group
# Add a hyphen or a negative sign before ID
BOTLOG_CHATID = "-48974118" # this is an integer, don't use quotes

# Custom name and logo for .alive
ALIVE_NAME = "THEDITYA"
ALIVE_LOGO = "https://telegra.ph/file/99f71c6617f40743af9ef.mp4"

# PM Auto-Ban Feature Switch
# AKA PMPermit
PM_AUTO_BAN = "False"

# Report or kick some known spammer bots after they join
ANTI_SPAMBOT = "False"
ANTI_SPAMBOT_SHOUT = "False"

# Country and Time Zone setup for
# .time and .date modules
COUNTRY = "id"
TZ_NUMBER = 1 # this is an integer, please don't use quotes.

# Clean welcome messages automatically
# Needed only if you use userbot's welcome module
CLEAN_WELCOME = "False"

# APIs

# OpenWeather Map API Key for .weather command
# Get from https://openweathermap.org/
OPEN_WEATHER_MAP_APPID = "dd4337e9289c6f40fbb65c084cdcc168"
WEATHER_DEFCITY = "banjar"

# OCR Space API Key for .ocr command
# Get from https://ocr.space/ocrapi
OCR_SPACE_API_KEY = "98b8b4cb7888957"

# remove.bg API Key for .rbg command
# Get from https://www.remove.bg/api
REM_BG_API_KEY = "eGdQP7se9t12EZa5Vj7uKf1o"

# Genius Lyrics
# Client Access Token from https://genius.com/api-clients
GENIUS_ACCESS_TOKEN = "dTNNARtkEuyY5DvXww86g3j_IsUe_gY7ZDGEBMzmUUEJc0f4mBRDpxAp4RlkmkWk"

# Deezloader
# Deezer ARL Token for downloading from deezer or spotify.
DEEZER_ARL_TOKEN = ""

# Google Drive Credentials
# for gdrive module.
# Get from https://console.cloud.google.com
G_DRIVE_DATA = "{"installed":{"client_id":"224597571919-ds43dlt9erhjhkd862mnqptuj8scdnl7.apps.googleusercontent.com","project_id":"noble-descent-315815","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"fylUoOvUU_z4GmYznY8_Lh5j","redirect_uris":["urn:ietf:wg:oauth:2.0:oob","http://localhost"]}}"
G_DRIVE_FOLDER_ID = "1r1Q8tHF9ECwrLbRGdmm-V991hEWViQGQ"
G_DRIVE_INDEX_URL = ""

# Last.fm
# You have to have your own unique two values for API_KEY and API_SECRET
# Obtain yours from https://www.last.fm/api/account/create for Last.fm
LASTFM_API = ""
LASTFM_SECRET = ""
LASTFM_USERNAME = "" # Your last.fm username
LASTFM_PASSWORD = "" # Your last.fm password
# Bot will add before song name. For last.fm module.
# Example:
# GitHub: ender1324 : Skillet - Feel Invincible
BIO_PREFIX = ""
# Default bio message
DEFAULT_BIO = "Best way to earn respect is By treating others with respect 😊"

# Don't change these unless you know what you're doing
BOTLOG = "True"
CHROME_DRIVER = ""
CONSOLE_LOGGER_VERBOSE = "False"
GOOGLE_CHROME_BIN = ""
LOGSPAMMER = "True"
TMP_DOWNLOAD_DIRECTORY = "./downloads/"
